<div class="jumbotron">
  <h1 class="display-3">Free Forever, For Whatever</h1>
  <p class="lead">Music and sounds, free to download and use for any purpose.</p> 
  <p>All content is released by trusted artists under the <a href="https://en.wikipedia.org/wiki/Creative_Commons_license">Creative Commons License.</a></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/catalog" role="button">Browse Catalog</a>
  </p>
</div>
