<h1>Register New Account</h1>

<div class="container">
    <form action="/register" method="post" id="registerForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
            <label for="password1">Password:</label>
            <input type="password" class="form-control" placeholder="Enter A Password" required>
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            <input type="password" class="form-control" placeholder="Enter Password Again" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="$('#registerForm').trigger('reset');">Clear</button>
        </div>
        <br>
    </form>
</div>
<div class="container">
    <p>Already Registered? Login <a href="/login">here.</a></p>
</div>