{{#if req.session.email}}
    <h2>My Catalog:</h2>

    {{#each tracks}}
    <div class="panel panel-default">
        <div class="panel-heading">{{this.dataValues.title}}</div>
        <div class="panel-body">
            <ul>
            <li>Track Description: {{this.dataValues.description}} </li>
            <li><a href="{{this.s3link}}">Download</a> </li>
            </ul>
        </div>
    </div>
    {{/each}} 
    {{else}}
     <div class="alert alert-danger">
                <strong>Not Logged In.</strong> 
            </div>
    <h4>Log-in <a href="/login">here</a></h4>
{{/if}}
