{{#if upload_success_message}}
    <div class="alert alert-success">
        <strong>{{upload_success_message}}</strong>
    </div>
{{/if}}

{{#if upload_failure_message}}
     <div class="alert alert-danger">
        <strong>{{upload_failure_message}}</strong> 
     </div>
{{/if}}

<h2>Upload New Track: (MP3 only, 20mb max)</h2>
    <form action="/uploadtrack" method="post" id="uploadForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Track Title:</label>
            <input type="text" name="title" class="form-control" placeholder="Enter a title" pattern="[a-zA-Z0-9 ,.!?]+" title="Can only contain letters, numbers or basic punctuation (.,!?)" required>
        </div>
         <div class="form-group">
            <label for="Description">Track Description:</label>
            <input type="text" name="description" class="form-control" placeholder="Enter a description" required>
        </div>
        <div class="form-group">
            <label for="file">File To Upload:</label>
            <input type="file" name="file" class="form-control" accept=".mp3" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            <button type="button" class="btn btn-secondary btn-sm" onclick="$('#uploadForm').trigger('reset');">Clear</button>
        </div>
        <br>
    </form>