{{#if req.session.email}}
    <h2>
    <ul> 
    <li><a href="/uploadtrack">Upload New Track</a></li> 
    <li><a href="/mycatalog">View My Catalog</a></li> 
    </ul>
    </h2>
    {{else}}
     <div class="alert alert-danger">
                <strong>Not Logged In.</strong> 
            </div>
    <h4>Log-in <a href="/login">here</a></h4>
{{/if}}