{{#if req.session.email}}
   <a href="/mycatalog">View My Catalog</a> 


    {{else}}
     <div class="alert alert-danger">
                <strong>Not Logged In.</strong> 
            </div>
    <h4>Log-in <a href="/login">here</a></h4>
{{/if}}